:root {
    --primary-font: "Luckiest Guy", cursive;
    --secondary-font: "Bitter", serif;
    --primary-color: #232528;
    --secondary-color: #0834C4;
    --highlight-color: #FF6F00;
}

.Copyright {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: 40px 0 -35px 0;
    padding: 16px 0;
}

@media (max-width:600px) {
    .Copyright {
        font-size: 11px;
    }
}