:root {
    --primary-font: "Luckiest Guy", cursive;
    --secondary-font: "Bitter", serif;
    --primary-color: #232528;
    --secondary-color: #0834C4;
    --highlight-color: #FF6F00;
}

.Partner {
    max-width: 85%;
    background: white;
    border-radius: 12px;
    margin: 70px auto;
    padding: 70px;
}

.Partner h2 {
    font-family: var(--primary-font);
    font-size: 90px;
    color: var(--primary-color);
    line-height: 90px;
}

.Partner p {
    font-family: var(--secondary-font);
    font-size: 20px;
    color: var(--primary-color);
    line-height: 24px;
    margin-bottom: 34px;
}

.Partner a {
    text-decoration: none;
}

.Partner button {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
    padding: 12px 72px;
    background: var(--secondary-color);
    color: white;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
}

.Partner button:hover {
    background: white;
    color: var(--secondary-color);
    transition: all ease-in-out 200ms;
}

#partnerHeart {
    position: absolute;
    right: 114px;
    top: 3877px;
}

@media (min-width:768px) and (max-width:1289px) {
    .Partner h2 {
        font-size: 65px;
        line-height: 65px;
    }
    
    .Partner p {
        font-size: 15px;
        line-height: 20px;
    }

    #partnerHeart {
        width: 300px;
        right: 73px;
        top: 3079px;
    }
}

@media (min-width:431px) and (max-width:899px) {
    .Partner h2 {
        font-size: 45px;
        line-height: 45px;
        text-align: center;
    }
    
    .Partner p {
        font-size: 12px;
        line-height: 16px;
        text-align: center;
    }
    
    .Partner button {
        font-size: 14px;
        line-height: 17.2px;
        padding: 12px 40px;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width:600px) {
    .Partner {
        margin: 20px auto;
    }
    
    .Partner h2 {
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .Partner p {
        font-size: 10px;
        line-height: 16px;
        text-align: center;
    }
    
    .Partner button {
        font-size: 12px;
        line-height: 15.2px;
        padding: 12px 30px;
        display: block;
        margin: 0 auto;
    }
}