:root {
    --primary-font: "Luckiest Guy", cursive;
    --secondary-font: "Bitter", serif;
    --primary-color: #232528;
    --secondary-color: #0834C4;
    --highlight-color: #FF6F00;
}

iframe {
    width: 700px; 
    height: 450px; 
    border: 0;
}

.SummerCamp {
    background: white;
}

.summerCampHeader {
    padding: 120px 0;
    background-color: #EAF6FF;
    position: relative;
    z-index: 1;
}

.summerCampHeader h1 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    margin-left: 88px;
}

.highlight {
    color: var(--highlight-color);
}

.eventDetails {
    margin: 80px 0;
}

.summerCampDescription {
    max-width: 55%;
}

.summerCampDescription h2 {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 43.2px;
}

.summerCampDescription h3 {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-top: 10px;
}

.summerCampDescription p {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.summerCampDetails {
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.line {
    border-bottom: 3px solid #7a7a7c;
    padding-top: 10px;
    width: 100%;
}

.secondLine {
    border-bottom: 3px solid #7a7a7c;
    padding-top: 10px;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.contact img {
    margin-right: 10px;
}

.faqsHeader {
    width: 80%;
}

.faqsHeader h1 {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 48px;
    color: #232528;
    margin-left: 120px;
    padding: 70px 0;
}

#aboutFirstBall {
    width: 72px;
    position: absolute;
    left: 110px;
    top: 360px;
    z-index: 0;
}

#aboutSecondBall {
    position: absolute;
    left: 1054px;
    top: 75px;
}

#aboutThirdBall {
    width: 150px;
    position: absolute;
    right: 260px;
    top: 190px;
}

#registerLink {
    text-decoration: none;
}

#registerButton {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    padding: 14px 39px;
    background: var(--secondary-color);
    color: white;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    display: block;
    margin: 35px auto;
}

#registerButton:hover {
    background: white;
    color: var(--secondary-color);
    transition: all ease-in-out 200ms;
}

#descriptionIcon {
    margin-right: 20px;
}

@media (min-width:900px) and (max-width:1290px) {
    iframe {
        width: 500px;
        height: 450px;
    }
    
    .eventDetails {
        padding: 0 30px;
    }

    .summerCampHeader h1 {
        font-size: 50px;
        line-height: 50px;
        text-align: center;
        margin-left: 0;
    }

    #aboutSecondBall {
        left: 780px;
        top: 75px;
    }

    #aboutThirdBall {
        width: 130px;
        right: 50px;
        top: 200px;
    }
}

@media (max-width:899px) {
    .summerCampHeader {
        padding: 60px 0;
    }

    .summerCampHeader h1 {
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        margin: 0;
        padding: 20px;
    }

    .summerCampRegister {
        padding: 0 40px;
    }

    .summerCampDescription {
        margin-top: 35px;
        max-width: 90%;
    }

    .faqsHeader {
        width: 100%;
    }

    .faqsHeader h1 {
        font-size: 30px;
        padding: 40px 0;
        margin-left: 0;
        text-align: center;
    }

    .summerCampDescription h2 {
        text-align: center;
        font-size: 32px;
        line-height: 40.2px;
    }

    .summerCampDescription h3 {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    .summerCampDescription p {
        font-size: 14px;
        line-height: 17.2px;
        margin-top: 20px;
    }

    .contact {
        justify-items: center;
    }

    .contact img {
        margin: 0 5px;
    }

    #contactIcons {
        margin-top: 20px;
    }

    #registerButton {
        padding: 12px 30px;
        font-size: 14px;
    }
}